/*>>>>>>>>>>>   index.html   <<<<<<<<<<<<*/

body, html {
    background-color:black;
    height:100%;

}


            .main-title h1 {
                color:rgb(255, 000, 000);
                font-size: 400%;
                font-family: 'Rye', cursive;
                position: relative;
                text-align: center;
                margin-top: 5%;
                font-weight: lighter;
                letter-spacing: 10px;
                }


                .main-title a {
                
                    text-decoration: none;
                    color: red;
                }

                .main-title a:hover {
                    color: silver;
                }


                .navbar{
                    border-bottom: black;
                    padding: 20px;
                    
                }


                .nav-content{
                    text-align:center;
                    color: silver;
                    font-family: 'Rye', cursive;
                    font-size: 30px;
                    height: 35px;
                }


                a{
                    text-decoration: none !important;
                    color: #e1121c;
                }


                .nav-content, a:hover{
                    color: silver;
                
                }


                .hero-image{
                    background-image: url("../img/RDR_Banner.png");
                    height: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                }


                .hero-news-container{
                    margin-left: 60px;
                    color: white;
                    /*width: 540px;*/
                    font-family: 'Rye', cursive;
                    font-size: large;
                    padding-top: 35px;
                }


                .form{
                    position: relative;
                    text-align: center;
                  }


                  .intro{
                    color: red;
                    margin-top: 120px;
                    text-align: center;
                    font-family: 'Rye', cursive;
                    font-size: large;
                    padding-bottom: 4%;
                }

                .vid{
                    text-align: center;
                    margin-bottom: 40px;
                }

/*>>>>>>>>>>>   media queries   <<<<<<<<<<<<*/

                @media (max-width: 767px) {
                    .vid iframe {
                        width: 540px;
                        height: 300px;
                    }
                    .hero-news-container {
                        text-align: center;
                        width: 400px;
                        margin: auto;
                    }
                    .main-title a {
                        font-size: 50px;
                        letter-spacing: 8px;
                    }
                    .nav-content {
                        font-size: 28px;
                    }
                }

                @media (max-width: 540px) {
                    .vid iframe {
                        width: 440px;
                        height: 300px;
                        padding: 0;
                    }
                    .intro {
                        padding: 15px;
                    }
                    .main-title a {
                        font-size: 48px;
                        letter-spacing: 3px;
                    }
                }

                @media (max-width: 460px) {
                    .vid iframe {
                        width: 340px;
                        height: 200px;
                    }
                    .hero-news-container {
                        width: 300px;
                    }
                    .main-title a {
                        font-size: 38px;
                        letter-spacing: 3px;
                    }
                    .nav-content {
                        font-size: 22px;
                    }
                }

                @media (max-width: 368px) {
                    .vid iframe {
                        width: 260px;
                        height: 160px;
                        padding: 0;
                    }
                    .main-title {
                        width: 200px;
                    }
                    .main-title span {
                        margin-left: 10px;
                    }
                    .hero-news-container {
                        width: 250px;
                        font-size: 16px;
                    }
                    .game-img .skyrim img,
                    .game-img .skyrim-se img {
                        width: 200px;
                        height: 200px;
                    }
                    .game-img .skyrim-se {
                        margin-left: 0;
                    }
                }

                @media (max-width: 270px) {
                    .vid {
                        display: none;
                    }
                }




/*>>>>>>>>>>>   register.html   <<<<<<<<<<<<*/


                .R-signup-container{
                   
                    font-family: 'Rye', cursive;
                    color: silver;
                    font-size: large;

                    position: relative;
                    text-align: center;
                    background-color: #303030;
                    border-color: #616161;
                    border-style: solid;

                    padding-top: 60px;

                    height: 1000px;
                    width: 850px;
                    margin: auto;
                    border-radius: 10%;
                }


                .R-signup-container h2{
                    color: silver;
                    padding-bottom: 6%;
                    font-size: 250%;
                    font-weight: normal;

                }


                #fname{
                    width: 300px;
                    height:40px;
                    background-color: silver;
                }

                        #lname{
                            width: 300px;
                            height:40px;
                            background-color: silver;
                        }

                        #email{
                            width: 300px;
                            height:40px;
                            background-color: silver;
                        }

                        #password{
                            width: 300px;
                            height:40px;
                            background-color: silver;
                        }

                        #password2{
                            width: 300px;
                            height:40px;
                            background-color: silver;
                        }

                        #checkbox-email{
                            height: 30px;
                            width: 30px;
                        }

                        #checkbox-tc{
                            height: 30px;
                            width: 30px;
                        }

                        #sign-up{
                            font-family: 'Rye', cursive;
                            color: darkred;
                            width: 20%;
                            height:5%;
                            transform: scale(1.5);
                        }
                        
                        .sign-up:hover{
                            color: silver;

                        }
                        

                        ::placeholder{
                            text-align: center;
                            text-size-adjust: 100%;
                            }


/*>>>>>>>>>>>   mods.html   <<<<<<<<<<<<*/


.game-img {
    position: relative;
    text-align: center;
    margin: auto;


}

.skyrim {
    background-image: url(../img/skyrim.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    display: inline-block;

}

.skyrim-se {
    background-image: url(../img/skyrim-se.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    display: inline-block;
    margin-left: 40px;
}

.mods-form{
    text-align: center;
    padding: 5%;
}