body, html {
    background-color:black;
    height:100%;

}

            /* main header */
            .main-title h1 {
                color:rgb(255, 000, 000);
                font-size: 400%;
                font-family: 'Rye', cursive;
                position: relative;
                text-align: center;
                margin-top: 5%;
                }

                .main-title a {
                
                    text-decoration: none;
                    color: red;
                }

                .main-title a:hover {
                    color: silver;
                }