body, html {
    background-color:black;
    height:100%;

}

            /* MAIN HEADER */
            .main-title h1 {
                color:rgb(255, 000, 000);
                font-size: 400%;
                font-family: 'Rye', cursive;
                position: relative;
                text-align: center;
                margin-top: 5%;
                }

                .main-title a {
                
                    text-decoration: none;
                    color: red;
                }

                .main-title a:hover {
                    color: silver;
                }




                /* NAVIGATION */
                .navbar{
                    position: relative;
                    border-bottom: black;
                    text-align: center;
                    padding: 20px;
                    
                }





                .nav-content{
                    text-align:center;
                    color: silver;
                    font-family: 'Rye', cursive;
                    font-size: 30px;
                    height: 35px;
                }





                a{
                    text-decoration: none !important;
                    color: #e1121c;
                }





                .nav-content, a:hover{
                    color: silver;
                
                }





                .hero-image{
                    background-image: url("../img/RDR_Banner.png");
                    height: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                }




                .hero-news-container{
                    margin-left: 60px;
                    color: #EA9999;
                    width: 540px;
                    font-family: 'Rye', cursive;
                    font-size: large;
                }




                .form{
                    position: relative;
                    text-align: center;
                  }




                  .intro{
                    color: red;
                    margin-top: 120px;
                    text-align: center;
                    font-family: 'Rye', cursive;
                    font-size: large;
                }




                .vid{
                    text-align: center;
                    margin-bottom: 40px;
                }




/*>>>>>>>>>>>   register.html   <<<<<<<<<<<<*/




                .signup-container{
                   
                    position: relative;
                    text-align: center;
                    background-color: #303030;
                    border-color: #616161;
                    border-style: solid;

                    padding-top: 60px;

                    height: 1000px;
                    width: 850px;
                    margin: auto;
                    border-radius: 10%;
                }





                .signup-container h2{
                    color: silver;
                    padding-bottom: 6%;

                }






                #form-input{
                    color: silver;
                }






                ::placeholder{
                    text-align: center;
                    color: silver;
                }